.program-section {
  background-color: #111518;
  background-image: url(/img/teacher.png);
  background-repeat: no-repeat;
  background-position: 0 80%;
}

ul {
  list-style: none;
}

/* my program title */
.title-container {
  color: #ffffff;
  margin-left: 184px;
  bottom: 100px;
  font-size: 46px;
  line-height: 60px;
  padding-top: 120px;
  padding-left: 184px;
  padding-right: 630px;
  padding-bottom: 100px;
}

.border {
  border-bottom: 1px solid white;
}

.circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1680px;
  padding-right: 230px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #ff6b09;
  border-radius: 50%;
}

.program-section-inner {
  padding: 0%;
}

.program-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 0px;
}

.program-section-item {
  display: block;
  width: 240px;
}

.program-section-subtitle {
  color: #ffffff;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 25px;
}

.caption {
  color: #ff6b09;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

.dash::before {
  content: "";
  display: block;
  background-color: #ff6b09;
  height: 2px;
  width: 16px;
  margin-right: 6px;
}

.theme {
  color: #b9b9b9;
  opacity: 0.5;
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
}

.span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage-section {
  background-color: #ffffff;
  margin: auto 180px;
  position: relative;
}

.advantage-section .advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 84px;
}

.advantage-subtitle {
  color: #111518;
  line-height: 24px;
  font-size: 20px;
}

.advantage-item {
  width: 30%;
}

.program-section {
  background-color: #111518;
  padding: 50px 20px;
}

.program-section .program__title {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.program-section .program-list {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 25px;
}

.program-section .program-list:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 93%;
  display: block;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .program-section .program-list:before {
    height: 85%;
  }
}

@media (min-width: 768px) {
  .program-section .subitem-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 50px;
    -ms-grid-columns: (180px)[3];
        grid-template-columns: repeat(3, 180px);
  }
}

.program-section .item__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .program-section .item__title {
    margin-bottom: 0;
  }
}

.program-section .item__title:before {
  content: "";
  position: absolute;
  left: -6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ff6b09;
}

.program-section .subitem__title {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}

@media (min-width: 768px) {
  .program-section .subitem__title {
    margin: 0;
  }
}

.program-section .subitem__text {
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}

.program-section .advantage-section {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fff;
  padding: 20px 30px;
}

@media (min-width: 768px) {
  .program-section .advantage-section {
    padding: 30px 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: 1fr 1fr;
        grid-template: repeat(3, 1fr)/1fr 1fr;
    grid-column-gap: 50px;
  }
}

.program-section .advantage__title {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}

.program-section .advantage-subtitle {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}

@media (min-width: 1440px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1440px) {
  .desktop {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */