.program-section {
  background-color: #111518;
  background-image: url(/img/teacher.png);
  background-repeat: no-repeat;
  background-position: 0 80%;
}

ul {
  list-style: none;
}

/* my program title */
.title-container {
  color: #ffffff;
  margin-left: 184px;
  bottom: 100px;
  font-size: 46px;
  line-height: 60px;
  padding-top: 120px;
  padding-left: 184px;
  padding-right: 630px;
  padding-bottom: 100px;
}

.border {
  border-bottom: 1px solid white;
}
.circle-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1680px;
  padding-right: 230px;
  transform: translateY(8px);
}
.circle {
  width: 16px;
  height: 16px;
  background-color: #ff6b09;
  border-radius: 50%;
}

.program-section-inner {
  padding: 0%;
}

.program-section-list {
  display: flex;
  justify-content: space-between;
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 0px;
}

.program-section-item {
  display: block;
  width: 240px;
}

.program-section-subtitle {
  color: #ffffff;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 25px;
}

.caption {
  color: $color-main;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

.dash {
  &::before {
    content: "";
    display: block;
    background-color: $color-main;
    height: 2px;
    width: 16px;
    margin-right: 6px;
  }
}
.theme {
  color: #b9b9b9;
  opacity: 0.5;
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
}

.span {
  display: flex;
  flex-direction: column;
}

// why i am chosen

.advantage-section {
  background-color: #ffffff;
  margin: auto 180px;
  // z-index: 9;
  position: relative;

  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 84px;
  }
}
.advantage-subtitle {
  color: #111518;
  line-height: 24px;
  font-size: 20px;
}

.advantage-item {
  width: 30%;
}
